<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- <input type="text" [(ngModel)]="one">
  <button (click)="add(one)">添加数据</button>
  <h3>正在进行</h3>
  <ul>
    <li *ngFor="let item of arrData;let idx = index;">
      <input type="checkbox" (change)="bian(idx)">{{item}} ------ <button (click)="del(idx)">删除</button>
    </li>
  </ul> 
  <h3>已经完成</h3>
  <ul>
    <li *ngFor="let item of arrData1;let idx = index;">
      <input type="checkbox" checked (change)="bian1(idx)">{{item}} ------ <button (click)="del1(idx)">删除</button>
    </li>
  </ul> -->

  <app-input></app-input>
  <app-list></app-list>
</div>

